<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" media="screen"/>
</head>
<body>

    
    <header>
      <nav class="main-nav">      
        <ul>
            <li><h3>Team 3FT2 Social Network</h3></li>
            <li><a href="/homepage">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/profile">New Post</a></li>
            <li><a href="../auth/logout">Logout</a></li>
        </ul>        
      </nav>
      <p>Hi <%= user.displayName %>!</p>         
  </header>

  <main>
      <section class="main-feed">
          <div class="main-container">
              <div class="main-post">
                <% if(imgs != null) { %>
                  <% imgs.forEach( el => { %>
                      <div data-id="<%= el._id %>">
                        <img src="<%= "/uploads/images/" + el.filename %>" alt="">
                      </div>
                  <% }) %>
                <% } %>
              </div>

              
          </div>
          
      </section>
  </main>

    <!-- <div class="main-feed">
      <% if(imgs != null) { %>
        <% imgs.forEach( el => { %>
            <div data-id="<%= el._id %>">
              <img src="<%= "/uploads/images/" + el.filename %>" alt="">
            </div>
        <% }) %>
      <% } %>
    </div> -->
    
    
    <script src="js/main.js"></script>
</body>
</html>
