<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/home.css" media="screen"/>
  </head>

  <body>
    <header>
      <nav class="main-nav">
        <ul>
          <li><a href="/homepage">Team 3FT2 Social Network</a></li>
          <li><a href="/homepage">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/profile">New Post</a></li>
          <li><a href="../auth/logout">Logout</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="imagehere">
        <% if(imgs != null) { %>
          <% imgs.forEach( el => { %>
            <div class="data center column" data-id="<%= el._id %>" data-like="<%= el.like %>">
              <img class="img-size" src="<%= "/uploads/images/" + el.filename %>" alt="">
              <% if(el.caption) { %>
                <p class="caption"><%= el.caption %></p>
              <% } %>
              <div class="post-controls">
                <span>Likes: <%= el.like %></span>
                <button class="like" type="button"><3</button>
              </div>
            </div>
          <% }) %>
        <% } %>
      </section>
    </main>

  <script src="js/main.js"></script>
  </body>
</html>
