<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="css/profile.css" media="screen"/>
</head>
<header>
    <nav class="main-nav">
      <ul>
          <li><a href="/homepage">Team 3FT2 Social Network</a></li>
          <li><a href="/homepage">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/profile">New Post</a></li>
          <li><a href="../auth/logout">Logout</a></li>
      </ul>
    </nav>
</header>
<body>
  <h1><%= user.displayName %>'s Profile</h1>
  <!-- empty section where image will show up (js) -->
    <main>
      <section class="<%= imgs.length >= 1 ? "pass" : "hidden" %>" id="imagehere">
        <% if(imgs.length >= 1) { %>
          <% imgs.forEach( el => { %>
              <div class="data" data-id="<%= el._id %>" data-like="<%= el.like %>">
                <img src="<%= "/uploads/images/" + el.filename %>" alt="">
                <div class="post-controls">
                  <span>Likes: <%= el.like %></span>
                  <button class="like" type="button"><3</button>
                  <button class="del" type="button">Delete</button>
                </div>
              </div>
          <% }) %>
        <% } %>
      </section>
      <% if(imgs.length === 0) { %>
        <p class="black">It's a bit lonely here...let's upload something!</p>
      <% } %>
    </main>


  <section class="whole">
  <!-- will have the h1 post here -->
    <h2 class="text">Post Your Image Here</h2>

  <!-- will have the button and search bar that will show file name -->
      <!-- <input type="text" placeholder="Add Picture">
      <button type="button" name="button">Select File</button> -->
    <section class="addimage">
      <form class="uploadedImg" action= "/profile/upload" method="POST" enctype="multipart/form-data">
        <input type="file" id="myFile" name="photo" accept="image/*">
        <input type="submit" value="upload">
      </form>
    </section>


    <!-- add comment and button -->
    <section class="addcomment">
      <input type="text" placeholder="Add Comment">
      <button type="button" name="button">Add Comment</button>
    </section>
  </section>

    <script src="js/main.js"></script>
  <!-- <script type="text/javascript" src="js/main.js"></script> -->
</body>

</html>
